.card-link a {
    text-decoration: none;
}
.card-link a img{
    padding:2rem;
    margin-bottom:-2rem;
}
a.disabled {
    pointer-events: none;
}
a.navbar-logo {
    width: 64px;
    height: 64px;
    background-image: url("../img/logo-icon-nav.svg");
    background-size: 64px 64px;
}
a.navbar-logo:hover {
    width: 64px;
    height: 64px;
    background-image: url("../img/hov_logo-icon-nav.svg");
    background-size: 64px 64px;
}
