.card-link a {
    text-decoration: none;
}
.card-link a img{
    padding:2rem;
    margin-bottom:-2rem;
}
a.disabled {
    pointer-events: none;
}
a.navbar-logo {
    width: 64px;
    height: 64px;
    background-image: url("../img/logo-icon-nav.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
a.navbar-logo:hover {
    background-image: url("../img/hov_logo-icon-nav.svg");
}
a.navbar-instagram {
    width: 64px;
    height: 64px;
    background-image: url("../img/instagram.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
a.navbar-instagram:hover {
    background-image: url("../img/hov_instagram.png");
}
.form-check-label {
    margin-top: 0.25rem;
    margin-left: 0.5rem;
}
.form-check-control {
    margin-top: -0.5rem;
}
